/* Style do painel de vagas */

.nomes-empresas {
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
    font-weight: bold;
}


.vaga-disponivel {
    margin-top: 20px;
}

.vaga-disponivel li {
    display: inline-block;
    text-align: center;
    margin-left: 24px;
    margin-right: 1px;
    padding: 30px 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    border-radius: 30px;
}

.vaga-disponivel img {
    padding-bottom: 8px;
}

.vaga-disponivel p {
    padding-bottom: 8px;
}

.vaga-disponivel button {
    border-radius: 30px;
    padding: 10px;
    font-weight: bold
}

.botao-visualizar {
    border-color: #2D5699;
}

.botao-adicionar {
    background: #2D5699;
    color: #FFFFFF;
    border-style: none;

}

.botao-adicionar:hover {
    transform: scale(1.1);
    transition: 400ms;
}

.botao-visualizar:hover {
    background: #2D5699;
    transition: 700ms;
}

.criando-vaga {
    width: 90px;
}
